<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.miaoyu.naigos.user.mapper.GetUserArchiveMapper">
    <select id="getUserArchiveByEmail" resultType="com.miaoyu.naigos.model.UserArchiveModel">
        SELECT * FROM users_users WHERE email = #{email}
    </select>
    <select id="getUserArchiveByUuid" resultType="com.miaoyu.naigos.model.UserArchiveModel">
        SELECT * FROM users_users WHERE group_real_user_id = #{uuid}
    </select>
    <select id="getUserArchiveByUniqueId" resultType="com.miaoyu.naigos.model.UserArchiveModel">
        SELECT * FROM users_users WHERE id = #{uniqueId}
    </select>
    <select id="getUserArchiveByQqId" resultType="com.miaoyu.naigos.model.UserArchiveModel">
        SELECT * FROM users_users WHERE qq_id = #{qqId}
    </select>
    <update id="updateUserArchiveByUuid" parameterType="com.miaoyu.naigos.model.UserArchiveModel">
        UPDATE users_users SET qq_id = #{qqId}, nickname = #{nickname}, city = #{city}, score = #{score}, favorite = #{favorite}, avatar = #{avatar} WHERE group_real_user_id = #{uuid}
    </update>
    <insert id="webRegisterUserArchiveByEmail" parameterType="com.miaoyu.naigos.model.UserArchiveModel">
        INSERT INTO users_users (qq_id, group_real_user_id, nickname, city, score, favorite, avatar, email, safe_level) VALUES (#{qqId}, #{uuid}, #{nickname}, 'unknown', 0, 50, 'https://naigos.cn/images/avatar/default_avatar.jpg', #{email}, 10)
    </insert>

    <insert id="createUserJudgeInit" parameterType="com.miaoyu.naigos.model.UserJudgeModel">
        INSERT INTO users_judges (qq_id, score, favorite, transfer_archive) VALUES (#{qqId}, 20080101, 20080101, 0);
    </insert>
    <insert id="createUserJudgeInitNoTrans" parameterType="com.miaoyu.naigos.model.UserJudgeModel">
        INSERT INTO users_judges (qq_id, score, favorite, transfer_archive) VALUES (#{qqId}, 20080101, 20080101, 1);
    </insert>
    <select id="getUserJudgeByQqid" resultType="com.miaoyu.naigos.model.UserJudgeModel">
        SELECT * FROM users_judges WHERE qq_id = #{qqId}
    </select>
    <insert id="createUserJudgeFromScore" parameterType="com.miaoyu.naigos.model.UserJudgeModel">
        INSERT INTO users_judges (qq_id, score, favorite, transfer_archive) VALUES (#{qqId}, #{score}, 20080101, 0)
    </insert>
    <update id="updateUserJudgeFromScore" parameterType="com.miaoyu.naigos.model.UserJudgeModel">
        UPDATE users_judges SET score = #{score} WHERE qq_id = #{qqId}
    </update>
    <update id="updateUserJudgeTransFalse" parameterType="com.miaoyu.naigos.model.UserJudgeModel">
        UPDATE users_judges SET transfer_archive = 1 WHERE qq_id = #{qqId}
    </update>
</mapper>