<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoyu.naigosbackend.user.mapper.GetUserPasswordMapper">
    <select id="getUserPasswordTable" resultType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        SELECT * FROM users_password WHERE uuid = #{uuid}
    </select>
    <insert id="createUserPasswordRecode" parameterType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        INSERT INTO users_password (uuid, is_code) VALUES (#{uuid}, 0)
    </insert>
    <insert id="createUserPasswordRecodeWithCode" parameterType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        INSERT INTO users_password (uuid, code, is_code, expiration_date) VALUES (#{uuid}, #{code}, 0, #{expirationDate})
    </insert>
    <update id="updateUserPasswordCode" parameterType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        UPDATE users_password SET code = #{code}, is_code = 0, expiration_date = #{expirationDate} WHERE uuid = #{uuid}
    </update>
    <update id="checkUserCodeSignin" parameterType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        UPDATE users_password SET code = null, is_code = 0, expiration_date = null WHERE uuid = #{uuid}
    </update>
</mapper>