<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoyu.naigosbackend.user.mapper.IsUserMapper">
    <select id="isUserInDatabaseByUniqueId" resultType="boolean">
        SELECT CASE WHEN EXISTS (
            SELECT 1 FROM users_users WHERE id = #{uniqueId}
        ) THEN TRUE ELSE FALSE END
    </select>
    <select id="isUserInDatabaseByEmail" resultType="boolean">
        SELECT CASE WHEN EXISTS (
            SELECT 1 FROM users_users WHERE email = #{email}
        ) THEN TRUE ELSE FALSE END
    </select>
    <select id="isUserPasswordInDatabase" resultType="com.miaoyu.naigosbackend.model.UserPasswordModel">
        SELECT * FROM users_password WHERE uuid = #{uuid}
    </select>
</mapper>