<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoyu.naigos.user.mapper.UserCheckinMapper">
    <update id="updateWebUserScore" parameterType="com.miaoyu.naigos.model.UserArchiveModel">
        UPDATE users_users SET score = #{score} WHERE group_real_user_id = #{uuid}
    </update>
</mapper>