<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaoyu.naigos.api.NaigosNotice.mapper.NaigosNoticeMapper">
    <select id="getAllNotice" resultType="com.miaoyu.naigos.model.NaigosNoticeModel">
        SELECT * FROM api_naigosnotice ORDER BY last_date DESC
    </select>
    <select id="getNoticeById" resultType="com.miaoyu.naigos.model.NaigosNoticeModel">
        SELECT * FROM api_naigosnotice WHERE notice_id = #{notice_id}
    </select>
    <select id="getAllNoticeByUuid" resultType="com.miaoyu.naigos.model.NaigosNoticeModel">
        SELECT * FROM api_naigosnotice WHERE author = #{author}
    </select>
    <insert id="uploadNotice" parameterType="com.miaoyu.naigos.model.NaigosNoticeModel">
        INSERT INTO api_naigosnotice (notice_id, title, content, author, attachment, image, upload_date, last_date) VALUES (#{noticeId}, #{title}, #{content}, #{author}, #{attachment}, #{image}, #{upload_date}, #{last_date})
    </insert>
    <update id="updateNotice" parameterType="com.miaoyu.naigos.model.NaigosNoticeModel">
        UPDATE api_naigosnotice SET title = #{title}, content = #{content}, attachment = #{attachment}, image = #{image}, last_date = #{last_date} WHERE notice_id = #{notice_id}
    </update>

    <delete id="deleteNotice">
        DELETE FROM api_naigosnotice WHERE notice_id = #{notice_id} and author = #{author}
    </delete>
</mapper>